#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    draw_borders: false,
    format_tag_separator: " | ",
    show_song_table_header: true,
    background_color: "black",
    default_album_art_path: None,
    header_background_color: None,
    modal_background_color: None,
    modal_backdrop: true,
    text_color: None,
    layout: Split(
        direction: Vertical,
        panes: [
            (
                size: "4",
                borders: "ALL",
                pane: Split(
                    direction: Vertical,
                    panes: [
                        (
                            size: "1",
                            direction: Vertical,
                            pane: Split(
                                direction: Horizontal,
                                panes: [
                                    (
                                        size: "23",
                                        pane: Pane(Property(format: "$'['{fg: yellow, mods: bold}$state(){fg: yellow, mods: bold}$']'{fg: yellow, mods: bold}", align: Left)),
                                    ),
                                    (
                                        size: "100%",
                                        borders: "LEFT | RIGHT",
                                        pane: Pane(Property(format: "$s:title{mods: bold}|$'No Song'{mods: bold}", align: Center, scroll_speed: 1)),
                                    ),
                                    (
                                        size: "23",
                                        pane: Pane(Property( format: "$w:volume{fg: blue, mods: bold}", align: Right)),
                                    ),
                                ],
                            ),
                        ),
                        (
                            size: "1",
                            direction: Vertical,
                            pane: Split(
                                direction: Horizontal,
                                panes: [
                                    (
                                        size: "23",
                                        pane: Pane(Property(format: "$elapsed$' / '$duration$[$' ('$bitrate$' kpbs)']", align: Left)),
                                    ),
                                    (
                                        size: "100%",
                                        borders: "LEFT | RIGHT",
                                        pane: Pane(Property(format: "$s:artist{fg: yellow, mods: bold}|$'Unknown Artist'{fg: yellow, mods: bold}$' - '$s:album{fg: yellow, mods: bold}|$'Unknown Album'", align: Center, scroll_speed: 2)),
                                    ),
                                    (
                                        size: "23",
                                        pane: Pane(Property(
                                            format: "
                                                $repeat(onLabel: ' ', offLabel: ' ', onStyle:  {fg: yellow, mods: bold}, offStyle: {fg: yellow, mods: dim})
                                                $random(onLabel: ' ', offLabel: ' ', onStyle: {fg: yellow, mods: bold}, offStyle: {fg: yellow, mods: dim})
                                                $single(onLabel: '󰑘 ', offLabel: '󰑘 ', oneshotLabel: '󰑘 ', onStyle: {fg: yellow, mods: bold}, offStyle: {fg: yellow, mods: dim}, oneshotStyle: {fg: red, mods: bold})
                                                $consume(onLabel: ' ', offLabel: ' ', oneshotLabel: ' ', onStyle: {fg: yellow, mods: bold}, offStyle: {fg: yellow, mods: dim}, oneshotStyle: {fg: red, mods: dim})
                                            ", align: Right)),
                                    ),
                                ],
                            ),
                        ),
                    ] 
                )
            ),
            (
                size: "3",
                borders: "ALL",
                pane: Pane(Tabs),
            ),
            (
                size: "100%",
                borders: "ALL",
                background_color: "red",
                pane: Pane(TabContent),
            ),
            (
                size: "3",
                borders: "ALL",
                pane: Split(
                    direction: Horizontal,
                    panes: [
                        (
                            pane: Pane(Property(
                                format: "$state(playingLabel: '  ', pausedLabel: '  ', stoppedLabel: '  ', playingStyle: {fg: blue}, pausedStyle: {fg: green}, stoppedStyle: {fg: red})",
                                align: Left)),
                            size: "3",
                        ),
                        (
                            size: "100%",
                            pane: Pane(ProgressBar),
                        ),
                        (
                            size: "13",
                            pane: Pane(Property(format: "$elapsed$' / '$duration", align: Right)),
                        ),
                    ]
                ),
            ),
        ]
    ),
    symbols: (
        song: "🎵",
        dir: "📁",
        marker: "\u{e0b0}",
        ellipsis: "…"
    ),
    progress_bar: (
        symbols: ["█", "\u{e0b0}", "█"],
        track_style: (fg: "#1e2030"),
        elapsed_style: (fg: "blue"),
        thumb_style: (fg: "blue", bg: "#1e2030"),
    ),
    scrollbar: (
        symbols: ["│", "█", "▲", "▼"],
        track_style: (),
        ends_style: (),
        thumb_style: (fg: "blue"),
    ),
    browser_column_widths: [20, 38, 42],
    browser_song_format_v2: "$[$s:track$' ']$[$s:artist$' - '$s:title]|$s:filename$'.'$s:fileextension",
    tab_bar: (
        active_style: (fg: "black", bg: "blue", modifiers: "Bold"),
        inactive_style: (),
    ),
    highlighted_item_style: (fg: "blue", modifiers: "Bold"),
    current_item_style: (fg: "black", bg: "blue", modifiers: "Bold"),
    borders_style: (fg: "blue", modifiers: "Bold"),
    highlight_border_style: (fg: "red"),
    song_table_format: [
        (format: "$s:albumartist|$s:artist|$'unknown'", width: "20%", label: "Artist"),
        (format: "$s:title|$'Unknown'", width: "35%"),
        (format: "$s:album|$'Unknown Album'", width: "45%"),
        (format: "$s:duration|$'-'", width: "5", alignment: Right, label: "Len"),
    ],
    header: (rows: []),
)
