#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    album_art_position: Left,
    album_art_width_percent: 40,
    default_album_art_path: None,
    show_song_table_header: true,
    draw_borders: true,
    browser_column_widths: [20, 38, 42],
    background_color: None,
    text_color: None,
    header_background_color: None,
    modal_background_color: None,
    tab_bar: (
        enabled: true,
        active_style: (fg: "#3c4048", bg: "#5ea1ff", modifiers: "Bold"),
        inactive_style: (),
    ),
    highlighted_item_style: (fg: "#5ea1ff", modifiers: "Bold"),
    current_item_style: (fg: "#3c4048", bg: "#5ea1ff", modifiers: "Bold"),
    borders_style: (fg: "#5ea1ff"),
    highlight_border_style: (fg: "#5ea1ff"),
    symbols: (song: "S", dir: "D", marker: "M", ellipsis: "..."),
    progress_bar: (
        symbols: ["󰚍", "", " "],
        track_style: (bg: "#1e2030"),
        elapsed_style: (fg: "#5ea1ff", bg: "#3c4048"),
        thumb_style: (fg: "#5ea1ff", bg: "#3c4048"),
    ),
    scrollbar: (
        symbols: ["│", "█", "▲", "▼"],
        track_style: (),
        ends_style: (),
        thumb_style: (fg: "#5ea1ff"),
    ),
    song_table_format: [
        (
            prop: (kind: Property(Artist),
                default: (kind: Text("Unknown"))
            ),
            width: "20%",
        ),
        (
            prop: (kind: Property(Title),
                default: (kind: Text("Unknown"))
            ),
            width: "35%",
        ),
        (
            prop: (kind: Property(Album), style: (fg: "white"),
                default: (kind: Text("Unknown Album"), style: (fg: "white"))
            ),
            width: "30%",
        ),
        (
            prop: (kind: Property(Duration),
                default: (kind: Text("-"))
            ),
            width: "15%",
            alignment: Right,
        ),
    ],
    layout: Split(
      direction: Horizontal,
      panes: [
        (
            size: "20",
            pane: Pane(AlbumArt)
        ),
        (
            size: "30%",
            pane: Split(
              direction: Vertical,
              panes: [
                (
                  size: "100%",
                  pane: Pane(Header),
                ),
                (
                  size: "10%",
                  pane: Split(
                    direction: Horizontal,
                    panes: [
                      (
                        pane: Pane(Property(
                          content: [
                            (kind: Property(
                              Status(
                                StateV2(
                                  playing_label: " ",
                                  paused_label: " ",
                                  stopped_label: " "
                                )
                               )
                              ),
                            style: (
                              fg: "#5ea1ff",
                              modifier: "Bold"
                            ))], align: Left)),
                        size: "2"
                      ),
                      (
                        pane: Pane(ProgressBar),
                        size: "100%"
                      ),
                      (
                        size: "10",
                        pane: Pane(Property(
                          content: [
                           (kind: Property(Status(Elapsed))),
                           (kind: Text("/")),
                           (kind: Property(Status(Duration)))
                          ], align: Right
                        ))
                      )
                    ]
                  )
                ),
              ]
            ),
        ),
        (
            size: "50%",
            pane: Pane(TabContent),
        ),
      ],
    ),
    header: (
        rows: [
            ( left: [
                (kind: Property(Status(
                  RandomV2(
                    on_label: " ",
                    off_label: " ",
                    on_style: (fg: "#5ea1ff", modifiers: "Bold"),
                    off_style: (fg: "#5ea1ff", modifiers: "Dim")
                  ),
                ))),
                (kind: Property(Status(
                  RepeatV2(
                    on_label: " ",
                    off_label: " ",
                    on_style: (fg: "#5ea1ff", modifiers: "Bold"),
                    off_style: (fg: "#5ea1ff", modifiers: "Dim")
                  ),
                )))
              ],
              center: [
              ],
              right: [
                (kind: Text("󰕾 "), style: (fg: "#5ea1ff")),
                (kind: Property(Status(Volume)), style: (fg: "#5ea1ff")),
                (kind: Text("%"), style: (fg: "#5ea1ff")),
              ]
            ),
            ( left: [], center: [], right: [] ),
            (
                left: [],
                center: [
                    (kind: Property(Song(Artist)), style: (fg: "yellow", modifiers: "Bold"),
                        default: (kind: Text("Unknown"), style: (fg: "yellow", modifiers: "Bold"))
                    ),
                ],
                right: [],
            ),
            (
                left: [],
                center: [
                    (kind: Property(Song(Title)), style: (modifiers: "Bold"),
                        default: (kind: Text("Unkown"), style: (modifiers: "Bold"))
                    )
                ],
                right: [],
            ),
            (
                left: [],
                center: [
                    (kind: Property(Song(Album)),
                        default: (kind: Text("Unknown Album"))
                    )
                ],
                right: []
            ),
            ( left: [], center: [], right: [] ),
            (
                left: [],
                center: [
                    (kind: Property(Status(Elapsed))),
                    (kind: Text(" / ")),
                    (kind: Property(Status(Duration))),
                ],
                right: []
            ),
        ],
    ),
    browser_song_format: [
        (
            kind: Group([
                (kind: Property(Track)),
                (kind: Text(" ")),
            ])
        ),
        (
            kind: Group([
                (kind: Property(Artist)),
                (kind: Text(" - ")),
                (kind: Property(Title)),
            ]),
            default: (kind: Property(Filename))
        ),
    ],
)
