@import "macchiato.css";
@define-color background #1e222a;

* {
    font-family:
        Symbols Nerd Font,
        JetBrainsMono Nerd Font Mono;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    border: 0px solid @surface1;
    background: @background;
    box-shadow: 1px 1px 10px 10px @mantle;
    color: @theme_text_color;
    transition-property: background-color;
    transition-duration: 0.5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

tooltip {
    background: @base;
    border: 1px solid @blue;
}

tooltip label {
    color: white;
}

label:focus {
    background-color: #000000;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* Remove border from parent waybar */
box {
    border: none;
}

#workspaces {
    margin-left: 0.5em;
    padding-left: 5px;
    padding-right: 5px;
    color: @peach;
    background-color: @surface0;
    border: 2px solid @surface1;
    border-radius: 0.75em;
}

#window {
    color: @peach;
    font-weight: 800;
}

#workspaces label {
    font-size: 10px;
}

#workspaces button {
    padding: 0em 0.1em;
    margin: 0em 0.3em;
    background-color: @surface0;
    border-radius: 1em;
    color: @text;
    /* margin: 0.25em; */
}

#workspaces button.active {
    background-color: @surface2;
    color: #ffffff;
}

#workspaces button.urgent {
    background-color: @red;
    color: @text;
}

#workspaces button:hover {
    /* color: @background; */
    font-weight: 100;
    background: @background;
}

#custom-notification,
#custom-updates,
#custom-github,
#custom-weather,
#idle_inhibitor,
#wireplumber,
#battery,
#cpu,
#memory,
#temperature,
#disk,
#pulseaudio,
#network {
    /* padding: 0 0.5em; */
}

/* Unique colors for modules */
#cpu {
    color: @red;
}

#memory {
    color: @yellow;
}

#network {
    color: @green;
}

#disk {
    color: @sapphire;
}

#temperature {
    color: @green;
}

#pulseaudio {
    color: @blue;
}

#idle_inhibitor {
    color: @mauve;
}

#network.disconnected {
    background-color: #f53c3c;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#clock {
    color: @text;
    font-weight: 900;
}

#custom-separator-right,
#custom-separator-left {
    padding-left: 0.5em;
    padding-right: 0.5em;
    color: @sapphire;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}
