#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    address: "/tmp/mpd_socket",
    volume_step: 5,
    scrolloff: 2,
    wrap_navigation: true,
    rewind_to_start_sec: 5,
    reflect_changes_to_playlist: false,
    max_fps: 144,
    theme: "def",
    ignore_leading_the: true,
    cache_dir: "/tmp/rmpc/cache",
    lyrics_dir: "~/Music",
    // on_song_change: ["~/.config/rmpc/scripts/autolrc"],
    on_song_change: ["sh", "-c", "~/.config/rmpc/scripts/printenv > /tmp/test"],
    // on_resize: ["~/.config/rmpc/scripts/onresize"],
    enable_mouse: true,
    status_update_interval_ms: 1000,
    select_current_song_on_change: true,
    // mpd_idle_read_timeout_ms: 2000,
    center_current_song_on_change: true,
    album_art: (
        method: Auto,
        // max_size_px: (width: 500, height: 500),
        max_size_px: (width: 0, height: 0),
        vertical_align: Center,
        horizontal_align: Center,
    ),
    show_playlists_in_browser: All,
    browser_song_sort: [Disc, Track, Title, Artist],
    directories_sort: SortFormat(group_by_type: true, reverse: false),
    cava: (
        framerate: 60,
        autosens: true,
        sensitivity: 120,
        input: (
            method: Fifo,
            source: "/tmp/mpd.fifo",
            sample_rate: 44100,
            channels: 2,
            samble_bits: 16,
        ),
        smoothing: (
            noise_reduction: 40,
            monstercat: false,
            waves: false,
        ),
    ),
    keybinds: (
        global: {
            // "R":       AddRandom,
            ",":       VolumeDown,
            "s":       Stop,
            ".":       VolumeUp,
            "<Right>": NextTab,
            "<Tab>":   NextTab,
            "<Left>":  PreviousTab,
            "<S-Tab>": PreviousTab,
            "1":       SwitchToTab("queue"),
            "2":       SwitchToTab("directories"),
            "3":       SwitchToTab("artists"),
            "4":       SwitchToTab("album Artists"),
            "5":       SwitchToTab("albums"),
            "6":       SwitchToTab("playlists"),
            "7":       SwitchToTab("search"),
            "q":       Quit,
            "~":       ShowHelp,
            "I":       ShowCurrentSongInfo,
            // "M":       ShowMessages,
            "O":       ShowOutputs,
            // "P":       SwitchPartition,
            "<C-p>":       ShowDecoders,
            ":":       CommandMode,
            "x":       ToggleRandom,
            ">":       NextTrack,
            "<":       PreviousTrack,
            "f":       SeekForward,
            "c":       ToggleSingleOnOff,
            "v":       ToggleConsumeOnOff,
            "p":       TogglePause,
            "z":       ToggleRepeat,
            "b":       SeekBack,
            // "<C-z>":   ExternalCommand(command: ["rmpc", "addrandom", "album", "2"]),
            "<C-z>":   Command(command: "addrandom album 2"),
            "T":       ExternalCommand(command: 
                       [   "sh", "-c", 
                           "rm -f /tmp/rmpc/env &&
                           mkdir -p /tmp/rmpc &&
                           ~/.config/rmpc/scripts/printenv >> /tmp/rmpc/env"
                       ], description: "Save test env"),
            "Y":       ExternalCommand(command: ["~/.config/rmpc/scripts/ytsearch"], description: "Search selected song on youtube"),
            // "P":       ExternalCommand(command: 
            //            [   "sh", "-c", 
            //                "picard -s \"${XDG_MUSIC_DIR:-$HOME/Music}/$(echo $SELECTED_SONGS | head -n 1)\" 2>&1 >/dev/null"
            //            ], description: "Open in picard"),
            "W":       ExternalCommand(command: ["sh", "-c", "~/.config/rmpc/scripts/printenv > /tmp/test"], description: "Search selected song on youtube"),
            "u": Update,
            "U": Rescan,
        },
        navigation: {
            "k":           Up,
            "j":           Down,
            "h":           Left,
            "l":           Right,
            "<S-Up>":      PaneUp,
            "<S-Down>":    PaneDown,
            "<S-Left>":    PaneLeft,
            "<S-Right>":   PaneRight,
            "a":           Add,
            "A":           AddAll,
            "<C-a>":           AddReplace,
            "<C-S-a>":           AddAllReplace,
            "r":           Rename,
            "n":           NextResult,
            "N":           PreviousResult,
            "g":           Top,
            "<Space>":     Select,
            "<C-Space>":     InvertSelection,
            "G":           Bottom,
            "<CR>":        Confirm,
            "i":           FocusInput,
            "J":           MoveDown,
            "<C-u>":       UpHalf,
            "<C-d>":       DownHalf,
            "/":           EnterSearch,
            "<C-c>":       Close,
            "<Esc>":       Close,
            "K":           MoveUp,
            "D":           Delete,
            "B":           ShowInfo,
        },
        queue: {
            "D":       DeleteAll,
            "<CR>":    Play,
            "<C-s>":   Save,
            "a":       AddToPlaylist,
            "d":       Delete,
            "C":       JumpToCurrent,
            "X":       Shuffle,
        },
        logs: {
            "D":       Clear,
            "S":       ToggleScroll,
        },
    ),
    artists: (
        album_display_mode: SplitByDate,
        album_sort_by: Date,
    ),
    search: (
        case_sensitive: false,
        ignore_diacritics: false,
        mode: Contains,
        tags: [
            (value: "any",         label: "Any Tag"),
            (value: "artist",      label: "Artist"),
            (value: "album",       label: "Album"),
            (value: "albumartist", label: "Album Artist"),
            (value: "title",       label: "Title"),
            (value: "filename",    label: "Filename"),
            (value: "genre",       label: "Genre"),
        ],
    ),
    tabs: [
        (
            name: "Queue",
            border_type: None,
            pane: Split(
                direction: Horizontal,
                panes: [
                    (
                        size: "30%",
                        borders: "RIGHT",
                        pane: Split(
                            direction: Vertical,
                            panes: [
                                (
                                    size: "100%",
                                    pane: Pane(Lyrics)
                                ),
                                (
                                    size: "0.409090909r",
                                    pane: Pane(AlbumArt),
                                ),
                            ],
                        ),
                    ),
                    (
                        size: "100%",
                        pane: Split(
                            direction: Vertical,
                            panes: [
                                (
                                    size: "100%",
                                    pane: Pane(Queue),
                                ),
                                (
                                    borders: "TOP",
                                    size: "15",
                                    pane: Pane(Cava)
                                ),
                            ],
                        ),
                    )
                ],
            ),
        ),
        (
            name: "Logs",
            border_type: None,
            pane: Pane(Logs),
        ),
        (
            border_type: None,
            name: "Directories",
            pane: Pane(Directories),
        ),
        (
            name: "Artists",
            border_type: None,
            pane: Pane(Artists),
            // pane: Pane(AlbumThumbnails),
        ),
        (
            name: "Album Artists",
            border_type: None,
            pane: Pane(AlbumArtists),
        ),
        (
            name: "Albums",
            border_type: None,
            pane: Pane(Albums),
        ),
        (
            name: "Genre",
            border_type: None,
            pane: Pane(Browser(root_tag: "genre", separator: "/")),
        ),
        (
            name: "Playlists",
            border_type: None,
            pane: Pane(Playlists),
        ),
        (
            name: "Search",
            border_type: None,
            pane: Pane(Search),
        ),
    ],
)
