#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    address: "/tmp/mpd_socket",
    volume_step: 5,
    scrolloff: 2,
    max_fps: 60,
    wrap_navigation: true,
    theme: "def",
    cache_dir: Some("/tmp/rmpc/cache"),
    lyrics_dir: "~/Music",
    on_song_change: ["~/.config/rmpc/scripts/notify"],
    on_resize: ["~/.config/rmpc/scripts/onresize"],
    status_update_interval_ms: 1000,
    enable_mouse: true,
    enable_config_hot_reload: true,
    album_art: (
        method: Auto,
        max_size_px: (width: 0, height: 0),
        vertical_align: Top,
        horizontal_align: Center,
    ),
    keybinds: (
        global: {
            "q":       Quit,
            "~":       ShowHelp,
            "O":       ShowOutputs,
            "I":       ShowCurrentSongInfo,
            ":":       CommandMode,
            ".":       VolumeUp,
            ",":       VolumeDown,
            "p":       TogglePause,
            "s":       Stop,
            ">":       NextTrack,
            "<":       PreviousTrack,
            "<Right>": NextTab,
            "<Tab>":   NextTab,
            "<Left>":  PreviousTab,
            "<S-Tab>": PreviousTab,
            "1":       SwitchToTab("Queue"),
            "2":       SwitchToTab("Directories"),
            "3":       SwitchToTab("Artists"),
            "4":       SwitchToTab("Album Artists"),
            "5":       SwitchToTab("Albums"),
            "6":       SwitchToTab("Playlists"),
            "7":       SwitchToTab("Search"),
            "z":       ToggleRepeat,
            "x":       ToggleRandom,
            "c":       ToggleSingle,
            "f":       SeekForward,
            "b":       SeekBack,
            "T":       ExternalCommand(command: 
                       [   "sh", "-c", 
                           "rm -f /tmp/rmpc/env &&
                           mkdir -p /tmp/rmpc &&
                           ~/.config/rmpc/scripts/printenv >> /tmp/rmpc/env"
                       ], description: "Save test env"),
            "Y":       ExternalCommand(command: ["~/.config/rmpc/scripts/ytsearch"], description: "Search selected song on youtube"),
            "P":       ExternalCommand(command: 
                       [   "sh", "-c", 
                           "picard -s \"${XDG_MUSIC_DIR:-$HOME/Music}/$(echo $SELECTED_SONGS | head -n 1)\" 2>&1 >/dev/null"
                       ], description: "Open in picard"),
        },
        navigation: {
            "<S-Up>":      PaneUp,
            "<S-Down>":    PaneDown,
            "<S-Left>":    PaneLeft,
            "<S-Right>":   PaneRight,
            "<C-u>":       UpHalf,
            "N":           PreviousResult,
            "a":           Add,
            "A":           AddAll,
            "r":           Rename,
            "n":           NextResult,
            "g":           Top,
            "<Space>":     Select,
            "G":           Bottom,
            "h":           Left,
            "<CR>":        Confirm,
            "i":           FocusInput,
            "J":           MoveDown,
            "j":           Down,
            "<C-d>":       DownHalf,
            "/":           EnterSearch,
            "<C-c>":       Close,
            "<Esc>":       Close,
            "K":           MoveUp,
            "l":           Right,
            "D":           Delete,
            "k":           Up,
        },
        queue: {
            "D":           DeleteAll,
            "<CR>":        Play,
            "<C-s>":       Save,
            "a":           AddToPlaylist,
            "d":           Delete,
            "i":           ShowInfo,
        },
    ),
    search: (
        case_sensitive: false,
        mode: Contains,
        tags: [
            (value: "any",         label: "Any Tag"),
            (value: "artist",      label: "Artist"),
            (value: "album",       label: "Album"),
            (value: "albumartist", label: "Album Artist"),
            (value: "title",       label: "Title"),
        ],
    ),
    tabs: [
        (
            name: "Queue",
            border_type: None,
            pane: Split(
                direction: Horizontal,
                panes: [
                (
                    size: "40%",
                    borders: "RIGHT",
                    pane: Split(
                        direction: Vertical,
                            panes: [
                                (
                                    size: "3",
                                    pane: Pane(Lyrics),
                                ),
                                (
                                    size: "100%",
                                    pane: Pane(AlbumArt),
                                )
                            ],
                        ),
                    ),
                    (
                        size: "60%",
                        pane: Pane(Queue),
                    ),
                ],
            ),
        ),
        (
            name: "Directories",
            border_type: None,
            pane: Pane(Directories),
        ),
        (
            name: "Artists",
            border_type: None,
            pane: Pane(Artists),
        ),
        (
            name: "Album Artists",
            border_type: None,
            pane: Pane(AlbumArtists),
        ),
        (
            name: "Albums",
            border_type: None,
            pane: Pane(Albums),
        ),
        (
            name: "Playlists",
            border_type: None,
            pane: Pane(Playlists),
        ),
        (
            name: "Search",
            border_type: None,
            pane: Pane(Search),
        ),
        (
            name: "Testing",
            border_type: Single,
            pane: Split(
                direction: Horizontal,
                panes: [
                    (
                        size: "40%",
                        pane: Pane(Queue),
                    ),
                    (
                        size: "60%",
                        pane: Split(
                            direction: Vertical,
                            panes: [
                                (
                                    size: "50%",
                                    pane: Pane(Directories),
                                ),
                                (
                                    size: "50%",
                                    pane: Split(
                                        direction: Horizontal,
                                        panes: [
                                            // (
                                            //     size: "40%",
                                            //     pane: Pane(AlbumArt),
                                            // ),
                                            (
                                                size: "60%",
                                                pane: Split(
                                                    direction: Vertical,
                                                    panes: [
                                                        (
                                                            size: "50%",
                                                            pane: Pane(Albums),
                                                        ),
                                                        (
                                                            size: "50%",
                                                            pane: Pane(Artists),
                                                        ),
                                                    ],
                                                ),
                                            ),
                                        ],
                                    ),
                                ),
                            ],
                        ),
                    ),
                ],
            ),
        ),
    ],
)
