[Desktop Entry]
Name=Slay the Spire
Comment=Play this game on Steam
Exec=steam steam://rungameid/646570
Icon=steam_icon_646570
Terminal=false
Type=Application
Categories=Game;
